.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  min-height: 100%;
  background-color: rgb(35, 35, 35);
  padding-bottom: 30px;
}

